.head{
    position: relative;

}

.head::after{
    content: ' ';
    width: 120%;
    height: 3px;
    background-color: #C57B57;
    bottom: 0;
    left: -10%;
    position: absolute;
}

img{
    margin-right: 100px;
}